[Desktop Entry]
Name=Enter the Gungeon
Comment=Play this game on Steam
Exec=steam steam://rungameid/311690
Icon=steam_icon_311690
Terminal=false
Type=Application
Categories=Game;
