[Desktop Entry]
Exec=/home/dez/.config/dez_scripts/brightness --dec
Name=Brightness Down
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
