[Desktop Entry]
Exec=/home/dez/.bin/brightness --dec
Name=Brightness Down
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
