[Desktop Entry]
Exec=qdbus com.poe.overlay /com/poe/overlay com.poe.overlay.Toggle.Quit
Name=POE Overlay Kill
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
