[Desktop Entry]
Exec=/home/dez/.bin/volume --toggle
Name=Toggle Mute
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
