[Desktop Entry]
Exec=/home/dez/.bin/volume --inc
Name=Volume UP
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
