[Desktop Entry]
Exec=/home/dez/.bin/screenshot-cp
Name=screenshot-cp
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
