[Desktop Entry]
Exec=/home/dez/.bin/brightness --inc
Name=Brightness Up
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
