[Desktop Entry]
Exec=archlinux-logout
Name=Archlinux Logout
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
