[Desktop Entry]
Exec=/home/dez/.config/dez_scripts/textractor
Name=textractor
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
