[Desktop Entry]
Exec=/home/dez/.bin/poe-logout
Name=poe-logout
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
