[Desktop Entry]
Exec=qdbus com.poe.overlay /com/poe/overlay com.poe.overlay.Toggle.ToggleVisibility
Name=POE Overlay Hide
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
