[Desktop Entry]
Exec=sudo /usr/local/bin/poe-kill-port
Name=POE Kill
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
