[Desktop Entry]
Exec=/home/dez/.config/dez_scripts/volume --dec
Name=Volume Down
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
