[Desktop Entry]
Name=Craftomation 101 - Programming & Craft
Exec=env WINEPREFIX="/home/dez/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Craftomation\\ 101\\ -\\ Programming\\ \\&\\ Craft\\ [GOG.com]\\\\Craftomation\\ 101\\ -\\ Programming\\ \\&\\ Craft.lnk
Type=Application
StartupNotify=true
Path=/home/dez/Games/HDD/Craftomation 101 Programming & Craft
Icon=53BB_goggame-1311462573.0
StartupWMClass=craftomation101.exe
